.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin: auto;
  margin-bottom: 20%;
  margin-top: 5%;
  padding: 20px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: #5e4dcd;
  margin-bottom: 20px;
  margin-top: 10px;
}

.description {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  color: #444444;
  margin-bottom: 20px;
  margin-top: 10px;
  line-height: 1.5;
}

.dropdown {
  width: 400px;
  margin: 5px auto;
  position: relative;
}

.dropdown .dropdown-btn {
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: #5e4dcd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 0.9rem;
}

.dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  background: #fff;
  padding: 10px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.2);
  /* display: none; */
  width: 95%;
}

.dropdown-item {
  padding: 10px;
  font-size: 0.8rem;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #5e4dcd;
  color: #fff;
}

.btn {
  padding: 10px;
}

@media screen and (max-width: 1024px) {
  .quiz-container {
    width: 500px;
    padding: 20px;
    margin: 15% 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .description {
    font-size: 16px;
  }

  .dropdown {
    width: 100%;
  }

  .dropdown .dropdown-btn {
    font-size: 16px;
  }

  .dropdown-content {
    width: 93%;
  }

  .dropdown-item {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 500px) {
  .quiz-container {
    width: 300px;
    padding: 20px;
    margin: 25% 10%;
  }
}
