:root {
  --primary: #5e4dcd;
  --secondary: #6c757d;
  --success: #198754;
  --warning: #ffc107;
  --info: #0dcaf0;
  --light: #f8f9fa;
  --bg: #212529;
  --disabled: #ccc;
}

.Toastify__toast-body {
  font-family: "Poppins", sans-serif;
}
