.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  background-color: var(--primary);
  padding: 20px;
}

h1 {
  color: #f9f9f9;
  margin: 20px;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .header {
    justify-content: center;
    padding: 0px;
  }
  h1 {
    font-size: 1.2rem;
  }
}
