.quiz-question-container {
  width: 600px;
  background: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: auto;
}
.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 400px; */
  width: 90%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.question-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  letter-spacing: 2px;
}

.question {
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.7rem;
  font-weight: 300;
  color: var(--dark);
  line-height: 2rem;
}

.choices-cointainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.choice {
  background: var(--light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 40%;
  cursor: pointer;
  text-align: center;
  font-size: 1.1rem;
  color: var(--dark);
  border-radius: 10px;
}

.active {
  background: var(--primary);
  color: var(--light);
}

.next-question-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.next-question-btn {
  &:disabled {
    cursor: not-allowed;
    background-color: var(--disabled);
    color: #fff;
  }
}

@media screen and (max-width: 500px) {
  .quiz-question-container {
    width: 300px;
    padding: 20px;
    margin: auto;
    height: 100%;
  }
  .question-container {
    height: fit-content;
    width: 100%;
  }

  .question {
    font-size: 1.3rem;
  }

  .choices-cointainer {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }
  .choice {
    font-size: 1rem;
    width: 80%;
    padding: 10px;
  }

  .next-question-btn-container {
    justify-content: center;
  }
}
