.quiz-question-container {
  width: 500px;
  background: var(--light);
  padding: 30px 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  letter-spacing: 2px;
}

.question {
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.7rem;
  font-weight: 300;
  color: var(--dark);
  line-height: 2rem;
}

.choices-cointainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.choice {
  background: var(--light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 40%;
  cursor: pointer;
  text-align: center;
  font-size: 1.1rem;
  color: var(--dark);
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .quiz-question-container {
    width: 200px;
    padding: 30px auto;
    margin: 10px;
  }

  .question {
    font-size: 1.1rem;
    width: 100%;
    /* border: 2px solid gray; */
  }

  .choices-cointainer {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
  }
  .choice {
    font-size: 0.8rem;
    width: 30%;
    padding: 15px;
  }
}
